* {
    box-sizing: border-box;
}
section{
    display: block;
}


body{
    padding: 0;
    margin: 0;
}

.calc{
    width: 400px;
    background-color: black;
    color: white;
}
.screen{
    color: white;
    font-size: 40px;
    font-family: "Courier New",Courier,monospace;
    text-align: right;
    padding: 20px 5px;
}
.calc-button{
    background-color:#d8d9db;
    color: black;
    height: 100px;
    width:24.5%;
    border:none;
    border-radius: 0;
    font-size: 20px;
    cursor:pointer;
}
.calc-button:hover{
    background-color: #ebebeb;  
}
.calc-button:active{
    background-color: #bbbcbe;
}
.double{
    width:49.4%;
    
}
.triple{
    width:74.8%;
}
.calc-button:last-child{
    background-color: #df974c;
}
.calc-button:last-child:hover{
    background-color: #dfb07e;
}
.calc-button:last-child:active{
    background-color: #dd8d37;
}


.calc-button-row{
    display: flex;
    align-content:stretch;
    justify-content:space-between;
    margin-bottom:0.5%;
}
.calc-button-row:last-child{
    padding-bottom: 0;
}